@import url('https://fonts.googleapis.com/css?family=Kavoon&display=swap');      
      
      *{
        font-family: 'Kavoon', cursive;
      }
      body {
        margin: 0;
        display: flex;
        align-items: center;
        height: 100vh;
        position: relative;
       
      }
      .container{
        background: #ffae16;
        min-height: 100vh;
        width:100%;
        max-width: 100vw;
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
        grid-template-areas: "a b c d"
                              "e f f g" 
                              "h f f i"
                              "j k l m";
        justify-content: center;
        align-items: center;

      }
      .gameboard {
        box-shadow: -1px 0px 9px 0px black;

        grid-area: f;
        height: 50vh;
        width: 50vh;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        max-height: 60vh;
        max-width: 60vh;
        box-sizing: border-box;
      }

      .color {
        width: 50%;
        height: 50%;
        display: inline-block;
        
      }
      .color:active{
        animation-name: pushup;
        animation-duration: 0.4s;
      }
      .titleOfGame{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-shadow: 2px 2px 0px black;

      }
      .contador{
        grid-area: d;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        
      }
      .contadorbox{
        border-radius: 6px;
        padding: 5% 10%;
        border: solid 1px rgba(105, 100, 100, 0.26);
        background: #ffed007a;
        color:white;
        text-shadow: 2px 2px 0px black;

        font-size: 1.5em;
        box-shadow: 1px 1px 2px 0px #000000ed;

      }

      .left {
        float: left;
      }

      .right {
        float: left;
      }

      .celeste {
        background: #22a6b3;
        
      }

      .celeste.light {
        background: #7ed6df;
      }

      .violeta {
        background: #be2edd;
      }

      .violeta.light {
        background: #e056fd;
      }

      .naranja {
        background: #f0932b;
      }

      .naranja.light {
        background: #ffbe76;
      }

      .verde {
        background: #6ab04c;
      }

      .verde.light {
        background: #badc58;
      }
      .centrador{
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 2 / 4;
        grid-column: 2 / 4;
      }
      .btn-start {
        width: 300px;
        height: 70px;
        background: #ecf0f1f1;
        color: #2c3e50;
        font-size: 2rem;
        cursor: pointer;
        position: absolute;
        border-radius: 6px;
        z-index: 100;
        
      }

      .hide {
        animation-name: hide;
        animation-duration: 1s;
        animation-fill-mode: forwards;
      }
      .removeButton{
        display: none;
        
      }
    
      @media (max-width: 740px) { 
        .btn-start{
          width: 250px;
          height: 80px;
          
          margin: auto;
        font-size: 1.8em;

        }
      }

      @media (max-width: 540px) { 

        .container{
          grid-template: 1fr 1fr 1fr 1fr /  1fr 1fr 1fr;
          grid-template-areas: "a b d"
                              "f f f " 
                              "f f f "
                              "j k l ";
        }
        .contador{
          grid-area: k;
        }
        .titleOfGame{
          grid-area: b;
          grid-column: 1/4;
          font-size: 1.5em;

        }
        .centrador{
          grid-row: 2 / 4;
          grid-column: 1 / 4;
        }
        
        .gameboard{
         height: 400px;
          width: 400px;
        }
      }
      @media (max-width: 380px) { 
        .gameboard{
         height: 300px;
          width: 300px;
        }
      }
      
      @keyframes hide{
        0%{
          opacity: 1;
        }
       100%{
          opacity: 0;
        }
      }
      
      @keyframes pushup{
        0%{
          transform: scale(0.9);
          
        
        100%{
            transform: scale(1.002);
        }
    }